.home-page-tabs {
  .tabs-list {
    ul {
      box-shadow: 0 1px 0 darken($clr4, 20);
      padding-block-end: 1px;
      gap: 0.4rem;
      li {
        &.activeTab {
          p {
            color: black;
            z-index: 5;
            box-shadow: 0 20px 0 0 white, 0 1px 0 1px darken($clr4, 20),
              0 -1px 0 darken($clr4, 20);
            border: none;
          }
        }
        p {
          color: $clr4;
          padding: 0 1rem;
          font-family: OpenSans-Light;
          box-shadow: 0 1px 0 0 white, 0 0 0 1px $clr4, 0 -1px 0 $clr4;
          border-top-left-radius: 0.3rem;
          border-top-right-radius: 0.3rem;
        }
      }
    }
  }
  .tabs-content {
    p {
      font-family: OpenSans-SemiBold;
      font-size: 1rem;
      @include for-mobile-layout {
        font-size: 0.8rem;
      }
    }
  }
}
